<div>
  <h1>Child: <%= @kid.id %></h1>
  <%= link_to "Update Child", "/childrens/#{@kid.id}/edit" %>

  <div>
    <ul class="child-attributes">
      <li>Name: <%= @kid.name %></li>
      <li>Age: <%= @kid.age %></li>
    </ul>
  </div>
</div>